*,
*::before,
*::after{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body,html{
	width:100%;
}

:root{
	--purple:#631FA8;
}
body{
	min-height: 100vh;
}

.bg-purple{
	background-color:var(--purple);
}